<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div class="main">
        <%- include('./partials/nav.ejs') %>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>